In [1]:
import numpy as np
import pandas as pd
from scipy.stats import shapiro

In [2]:
df = pd.read_csv(r"C:\Users\DHONI HANIF\OneDrive\Documents\AI Collection and Loss Reverse Forecast\data_preparation\EDA\Univariate_bivariate_multivariate\Univariate_Analysis\new_kolektor.csv")
df.head()

,Unnamed: 0,time_to_collect,avg_bill_methods,debtor_volume_handled,bill_amount_collected,total_actual,total_cost,success_rate
0,0,12,panggilan,47,408000000,935500000,70596790,44.0
1,1,23,datang ke tempat,62,296000000,496000000,126482552,60.0
2,2,9,surat panggilan,28,42500000,43000000,2191672,99.0
3,3,23,datang ke tempat,59,828000000,1333000000,93832950,62.0
4,4,20,datang ke tempat,46,592000000,1128500000,120465732,52.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             940 non-null    int64
 1   time_to_collect        940 non-null    int64
 2   avg_bill_methods       940 non-null    object
 3   debtor_volume_handled  940 non-null    int64
 4   bill_amount_collected  940 non-null    int64
 5   total_actual           940 non-null    int64
 6   total_cost             940 non-null    int64
 7   success_rate           940 non-null    float64
dtypes: float64(1), int64(6), object(1)
memory usage: 58.9+ KB

In [4]:
df["avg_bill_methods"] = df["avg_bill_methods"].astype("category")
df.drop(["Unnamed: 0"], axis=1, inplace=True)

# Numeric Variable

In [5]:
df_stat = {}
df_p_value = {}
for i in df.columns:
    if df[i].dtype == "int64" or df[i].dtype == "float64":
        stat, p_value = shapiro(df[i])
        alpha = 0.05
        # Hasil uji 
        df_stat[i] = stat
        # Interpretasi hasil
        if p_value > alpha:
            df_p_value[i] = f"Distribusi normal: {p_value}"
        else:
            df_p_value[i] = f"Distribui tidak normal: {p_value}"

In [6]:
df_shapiro = pd.DataFrame()
df_shapiro["columns"] = [i for i in df_stat.keys()]
df_shapiro["stats"] = [df_stat[i] for i in df_stat]
df_shapiro["p_value"] = [df_p_value[i] for i in df_p_value]
df_shapiro

,columns,stats,p_value
0,time_to_collect,0.947117,Distribui tidak normal: 7.709691404366804e-18
1,debtor_volume_handled,0.971432,Distribui tidak normal: 1.2542239382490328e-12
2,bill_amount_collected,0.854399,Distribui tidak normal: 1.4364863861240592e-28
3,total_actual,0.879999,Distribui tidak normal: 2.593457263111852e-26
4,total_cost,0.803408,Distribui tidak normal: 2.874178315055734e-32
5,success_rate,0.959842,Distribui tidak normal: 2.181930402347476e-15