In [1]:
import numpy as np
import pandas as pd
from scipy.stats import shapiro
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [2]:
df = pd.read_csv(r"C:\Users\DHONI HANIF\OneDrive\Documents\AI Collection and Loss Reverse Forecast\data_preparation\EDA\Univariate_bivariate_multivariate\Univariate_Analysis\new_nasabah.csv")
df.head()

,Unnamed: 0,debtor_gender,age,debtor_education_level,debtor_martial_status,employment_type,number_of_dependents,net_income,payment_date,loan_amount,avg_amounts_previous_bills,avg_previous_payment,amount_of_late,late_payment_amount,credit_risk,credit_score,arrears_amounts,aset,loss_reverse,aging
0,1,Wanita,67,S1,Sudah menikah,Retired,3,14000000.0,1,1.441667e+07,9500000,7650000,1,1,Tertagih,456,1,9500000,1.441667e+07,DPK
1,2,Wanita,72,S1,Sudah menikah,Retired,3,21000000.0,8,1.895833e+07,7000000,4000000,1,1,Tertagih,637,1,7000000,1.895833e+07,DPK
2,3,Pria,42,S2,Sudah menikah,Full-time,4,24000000.0,7,1.683333e+07,3000000,1700000,1,1,Tertagih,330,1,13000000,1.683333e+07,DPK
3,4,Pria,63,S1,Sudah menikah,Retired,2,13000000.0,3,1.425000e+07,5000000,3600000,2,2,Tidak tertagih,453,2,8000000,2.850000e+07,DPK
4,5,Wanita,63,S1,Sudah menikah,Retired,4,13000000.0,7,1.425000e+07,12000000,11400000,198,12,Tidak tertagih,464,12,9000000,1.710000e+08,Macet

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4959 entries, 0 to 4958
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  4959 non-null   int64
 1   debtor_gender               4959 non-null   object
 2   age                         4959 non-null   int64
 3   debtor_education_level      4959 non-null   object
 4   debtor_martial_status       4959 non-null   object
 5   employment_type             4959 non-null   object
 6   number_of_dependents        4959 non-null   int64
 7   net_income                  4959 non-null   float64
 8   payment_date                4959 non-null   int64
 9   loan_amount                 4959 non-null   float64
 10  avg_amounts_previous_bills  4959 non-null   int64
 11  avg_previous_payment        4959 non-null   int64
 12  amount_of_late              4959 non-null   int64
 13  late_payment_amount         4959 non-null   int64
 14  credit_risk                 4959 non-null   object
 15  credit_score                4959 non-null   int64
 16  arrears_amounts             4959 non-null   int64
 17  aset                        4959 non-null   int64
 18  loss_reverse                4959 non-null   float64
 19  aging                       4959 non-null   object
dtypes: float64(3), int64(11), object(6)
memory usage: 775.0+ KB

In [4]:
for i in df.columns:
    if df[i].dtype == "object":
        df[i] = df[i].astype("category")
df.drop(["Unnamed: 0", "credit_risk"], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4959 entries, 0 to 4958
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   debtor_gender               4959 non-null   category
 1   age                         4959 non-null   int64
 2   debtor_education_level      4959 non-null   category
 3   debtor_martial_status       4959 non-null   category
 4   employment_type             4959 non-null   category
 5   number_of_dependents        4959 non-null   int64
 6   net_income                  4959 non-null   float64
 7   payment_date                4959 non-null   int64
 8   loan_amount                 4959 non-null   float64
 9   avg_amounts_previous_bills  4959 non-null   int64
 10  avg_previous_payment        4959 non-null   int64
 11  amount_of_late              4959 non-null   int64
 12  late_payment_amount         4959 non-null   int64
 13  credit_score                4959 non-null   int64
 14  arrears_amounts             4959 non-null   int64
 15  aset                        4959 non-null   int64
 16  loss_reverse                4959 non-null   float64
 17  aging                       4959 non-null   category
dtypes: category(5), float64(3), int64(10)
memory usage: 529.1 KB

In [5]:
df_ = pd.DataFrame()

col = {}
for i in df.columns:
    if df[i].dtype == "category":
        col[i] = LabelEncoder().fit(df[i])
        df_[i] = col[i].transform(df[i])
    else:
        df_[i] = df[i]
    

minmax = MinMaxScaler().fit(df_)
df_ = pd.DataFrame(minmax.transform(df_), columns=df_.columns)
    
df_

,debtor_gender,age,debtor_education_level,debtor_martial_status,employment_type,number_of_dependents,net_income,payment_date,loan_amount,avg_amounts_previous_bills,avg_previous_payment,amount_of_late,late_payment_amount,credit_score,arrears_amounts,aset,loss_reverse,aging
0,1.0,0.790323,0.375,1.0,0.833333,0.428571,0.440895,0.000,0.335388,0.236842,0.199730,0.003546,0.083333,0.652361,0.083333,0.220779,0.033066,0.00
1,1.0,0.870968,0.375,1.0,0.833333,0.428571,0.664537,0.875,0.469790,0.171053,0.101215,0.003546,0.083333,0.911302,0.083333,0.155844,0.043482,0.00
2,0.0,0.387097,0.500,1.0,0.166667,0.571429,0.760383,0.750,0.406905,0.065789,0.039136,0.003546,0.083333,0.472103,0.083333,0.311688,0.038609,0.00
3,0.0,0.725806,0.375,1.0,0.833333,0.285714,0.408946,0.250,0.330456,0.118421,0.090418,0.007092,0.166667,0.648069,0.166667,0.181818,0.065367,0.00
4,1.0,0.725806,0.375,1.0,0.833333,0.571429,0.408946,0.750,0.330456,0.302632,0.300945,0.702128,1.000000,0.663805,1.000000,0.207792,0.392202,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4954,1.0,0.806452,0.125,1.0,0.833333,0.571429,0.329073,0.125,0.397041,0.473684,0.450742,0.666667,1.000000,0.346209,1.000000,0.298701,0.454128,1.00
4955,0.0,0.774194,0.500,1.0,0.833333,0.285714,0.408946,0.875,0.355117,0.381579,0.311741,0.014184,0.166667,0.536481,0.083333,0.129870,0.034595,0.00
4956,1.0,0.048387,0.875,0.0,0.000000,0.142857,0.463259,0.000,0.357583,0.460526,0.417004,0.627660,1.000000,0.450644,1.000000,0.142857,0.417431,0.25
4957,1.0,0.354839,0.125,1.0,0.166667,0.571429,0.808307,0.250,0.976572,0.986842,0.978408,0.329787,0.833333,0.539342,0.416667,0.090909,0.413800,0.50
4958,1.0,0.483871,0.125,1.0,0.166667,0.714286,0.712460,0.875,0.339088,0.065789,0.060729,0.677305,1.000000,0.150215,1.000000,0.194805,0.400229,1.00

# Numeric Variable

In [6]:
df_stat = {}
df_p_value = {}
for i in df.columns:
    if df[i].dtype == "int64" or df[i].dtype == "float64":
        stat, p_value = shapiro(df[i])
        alpha = 0.05
        # Hasil uji 
        df_stat[i] = stat
        # Interpretasi hasil
        if p_value > alpha:
            df_p_value[i] = f"Distribusi normal: {p_value}"
        else:
            df_p_value[i] = f"Distribui tidak normal: {p_value}"

In [7]:
df_shapiro = pd.DataFrame()
df_shapiro["columns"] = [i for i in df_stat.keys()]
df_shapiro["stats"] = [df_stat[i] for i in df_stat]
df_shapiro["p_value"] = [df_p_value[i] for i in df_p_value]
df_shapiro

,columns,stats,p_value
0,age,0.952074,Distribui tidak normal: 1.633444966780758e-37
1,number_of_dependents,0.931311,Distribui tidak normal: 5.7873626576614945e-43
2,net_income,0.984446,Distribui tidak normal: 5.953335720932309e-23
3,payment_date,0.935981,Distribui tidak normal: 7.225094882058757e-42
4,loan_amount,0.702545,Distribui tidak normal: 0.0
5,avg_amounts_previous_bills,0.957827,Distribui tidak normal: 1.1401536842668072e-35
6,avg_previous_payment,0.943828,Distribui tidak normal: 7.180547603877871e-40
7,amount_of_late,0.741637,Distribui tidak normal: 0.0
8,late_payment_amount,0.741786,Distribui tidak normal: 0.0
9,credit_score,0.987397,Distribui tidak normal: 1.2032758879500211e-20
10,arrears_amounts,0.740681,Distribui tidak normal: 0.0
11,aset,0.812065,Distribui tidak normal: 0.0
12,loss_reverse,0.800081,Distribui tidak normal: 0.0

In [8]:
df_stat = {}
df_p_value = {}
for i in df_.columns:
    if df_[i].dtype == "int64" or df_[i].dtype == "float64":
        stat, p_value = shapiro(df_[i])
        alpha = 0.05
        # Hasil uji 
        df_stat[i] = stat
        # Interpretasi hasil
        if p_value > alpha:
            df_p_value[i] = f"Distribusi normal: {p_value}"
        else:
            df_p_value[i] = f"Distribui tidak normal: {p_value}"

In [9]:
df_shapiro2 = pd.DataFrame()
df_shapiro2["columns"] = [i for i in df_stat.keys()]
df_shapiro2["stats"] = [df_stat[i] for i in df_stat]
df_shapiro2["p_value"] = [df_p_value[i] for i in df_p_value]
df_shapiro2

,columns,stats,p_value
0,debtor_gender,0.636626,Distribui tidak normal: 0.0
1,age,0.952074,Distribui tidak normal: 1.633444966780758e-37
2,debtor_education_level,0.908554,Distribui tidak normal: 0.0
3,debtor_martial_status,0.473159,Distribui tidak normal: 0.0
4,employment_type,0.742768,Distribui tidak normal: 0.0
5,number_of_dependents,0.931311,Distribui tidak normal: 5.7873626576614945e-43
6,net_income,0.984446,Distribui tidak normal: 5.953335720932309e-23
7,payment_date,0.935981,Distribui tidak normal: 7.225094882058757e-42
8,loan_amount,0.702545,Distribui tidak normal: 0.0
9,avg_amounts_previous_bills,0.957827,Distribui tidak normal: 1.1401536842668072e-35
10,avg_previous_payment,0.943828,Distribui tidak normal: 7.180547603877871e-40
11,amount_of_late,0.741637,Distribui tidak normal: 0.0
12,late_payment_amount,0.741786,Distribui tidak normal: 0.0
13,credit_score,0.987397,Distribui tidak normal: 1.2032758879500211e-20
14,arrears_amounts,0.740681,Distribui tidak normal: 0.0
15,aset,0.812065,Distribui tidak normal: 0.0
16,loss_reverse,0.800081,Distribui tidak normal: 0.0
17,aging,0.776708,Distribui tidak normal: 0.0

In [10]:
print(np.log(df_))

      debtor_gender       age  debtor_education_level  debtor_martial_status  \
0               0.0 -0.235314               -0.980829                    0.0
1               0.0 -0.138150               -0.980829                    0.0
2              -inf -0.949081               -0.693147                    0.0
3              -inf -0.320472               -0.980829                    0.0
4               0.0 -0.320472               -0.980829                    0.0
...             ...       ...                     ...                    ...
4954            0.0 -0.215111               -2.079442                    0.0
4955           -inf -0.255933               -0.693147                    0.0
4956            0.0 -3.028522               -0.133531                   -inf
4957            0.0 -1.036092               -2.079442                    0.0
4958            0.0 -0.725937               -2.079442                    0.0

      employment_type  number_of_dependents  net_income  payment_date  \
0           -0.182322             -0.847298   -0.818950          -inf
1           -0.182322             -0.847298   -0.408665     -0.133531
2           -1.791759             -0.559616   -0.273933     -0.287682
3           -0.182322             -1.252763   -0.894173     -1.386294
4           -0.182322             -0.559616   -0.894173     -0.287682
...               ...                   ...         ...           ...
4954        -0.182322             -0.559616   -1.111474     -2.079442
4955        -0.182322             -1.252763   -0.894173     -0.133531
4956             -inf             -1.945910   -0.769469          -inf
4957        -1.791759             -0.559616   -0.212814     -1.386294
4958        -1.791759             -0.336472   -0.339031     -0.133531

      loan_amount  avg_amounts_previous_bills  avg_previous_payment  \
0       -1.092466                   -1.440362             -1.610788
1       -0.755469                   -1.765784             -2.290513
2       -0.899175                   -2.721295             -3.240705
3       -1.107281                   -2.133509             -2.403308
4       -1.107281                   -1.195239             -1.200829
...           ...                         ...                   ...
4954    -0.923717                   -0.747214             -0.796860
4955    -1.035308                   -0.963438             -1.165583
4956    -1.028387                   -0.775385             -0.874659
4957    -0.023707                   -0.013245             -0.021829
4958    -1.081497                   -2.721295             -2.801338

      amount_of_late  late_payment_amount  credit_score  arrears_amounts  \
0          -5.641907            -2.484907     -0.427158        -2.484907
1          -5.641907            -2.484907     -0.092881        -2.484907
2          -5.641907            -2.484907     -0.750558        -2.484907
3          -4.948760            -1.791759     -0.433759        -1.791759
4          -0.353640             0.000000     -0.409766         0.000000
...              ...                  ...           ...              ...
4954       -0.405465             0.000000     -1.060713         0.000000
4955       -4.255613            -1.791759     -0.622725        -2.484907
4956       -0.465757             0.000000     -0.797078         0.000000
4957       -1.109308            -0.182322     -0.617406        -0.875469
4958       -0.389634             0.000000     -1.895690         0.000000

          aset  loss_reverse     aging
0    -1.510592     -3.409257      -inf
1    -1.858899     -3.135399      -inf
2    -1.165752     -3.254281      -inf
3    -1.704748     -2.727738      -inf
4    -1.571217     -0.935979  0.000000
...        ...           ...       ...
4954 -1.208311     -0.789375  0.000000
4955 -2.041220     -3.364052      -inf
4956 -1.945910     -0.873636 -1.386294
4957 -2.397895     -0.882373 -0.693147
4958 -1.635755     -0.915718  0.000000

[4959 rows x 18 columns]

c:\Users\DHONI HANIF\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)