In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"./data_nasabah.csv")
df

,Unnamed: 0,debtor_name,debtor_nik,debtor_address,debtor_number,debtor_company,debtor_gender,debtor_education_level,employment_type,number_of_dependents,...,arrears12,aging,debtor_zip,debtor_rt,debtor_rw,debtor_birth_place,debtor_age,debtor_occupation,debtor_marital_status,tenor
0,0,Cemplunk Zulaika,4133431716345918,"Jalan Raya Setiabudhi No. 857\nBanjarbaru, KR ...",+62 (102) 776 3467,CV Nugroho Melani (Persero) Tbk,perempuan,D3,Retired,3,...,0,DPK,12188,6,10,"Bengkulu, 23-09-1997",26,Pengusaha,Menikah,21
1,1,"Clara Padmasari, M.Pd",7873621118387801,"Jalan Cihampelas No. 4\nPekanbaru, Sulawesi Se...",+62 (808) 299 5117,UD Hidayat,laki-laki,D3,Full-time,3,...,0,DPK,56126,20,20,"Jawa Tengah, 13-04-1964",59,Pengusaha,Menikah,18
2,2,"Puti Cinthia Oktaviani, S.IP",9937369990430445,"Jl. Wonoayu No. 68\nSemarang, Riau 98101",+62 (0582) 416 0892,UD Simanjuntak Padmasari (Persero) Tbk,laki-laki,D2,Full-time,4,...,0,Lancar,98101,2,15,"Jawa Tengah, 01-09-1981",42,Buruh,Cerai mati,17
3,3,"Lalita Astuti, M.TI.",2071079715934185,"Gg. Sentot Alibasa No. 781\nPontianak, SU 76993",+62 (737) 295-9765,Perum Handayani Najmudin Tbk,laki-laki,D2,Retired,3,...,0,DPK,76993,19,16,"Aceh, 14-02-1987",36,Pengusaha,Menikah,17
4,4,Daliman Kusumo,8852740896362143,"Jl. Ronggowarsito No. 0\nTanjungpinang, NB 06297",+62 (0740) 390 0826,PD Hardiansyah (Persero) Tbk,laki-laki,SMA,Contract,5,...,0,DPK,6297,1,1,"Gorontalo, 06-12-1998",25,Pegawai Swasta,Cerai hidup,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,Farah Budiman,1119427982364147,"Gang Gegerkalong Hilir No. 85\nSukabumi, MA 26691",+62 (936) 135-5673,Perum Simanjuntak,perempuan,D3,Retired,4,...,1,Kurang lancar,26691,15,13,"Sulawesi Barat, 05-06-1968",55,Pengusaha,Cerai hidup,10
4996,4996,"Rahmi Permata, S.Sos",6199571700348089,"Jalan Ronggowarsito No. 4\nSamarinda, Sumatera...",+62 (0519) 146-5754,PD Jailani (Persero) Tbk,perempuan,S1,Full-time,4,...,0,DPK,14400,8,1,"Sulawesi Selatan, 18-01-1995",28,Profesional,Belum menikah,17
4997,4997,Vega Zulkarnain,4792712372200728,"Jl. Jamika No. 8\nBogor, Jawa Barat 88047",+62 (761) 688-1718,Perum Wibisono,laki-laki,SMA,Contract,6,...,0,DPK,88047,11,20,"Kepulauan Riau, 11-01-1989",34,Profesional,Belum menikah,7
4998,4998,Karimah Adriansyah,7096542170234569,"Gang Ir. H. Djuanda No. 875\nCimahi, JT 93140",+62-55-211-5745,CV Thamrin Haryanto,perempuan,SMA,Contract,6,...,1,DPK,93140,13,2,"Sulawesi Tenggara, 11-07-1983",40,Profesional,Belum menikah,12
4999,4999,Alika Januar,4595204238824022,"Gang Setiabudhi No. 8\nTangerang, NT 42062",+62 (08) 963 3964,CV Oktaviani Wulandari,perempuan,D1,Retired,4,...,0,Kurang lancar,42062,13,4,"Sulawesi Tengah, 03-03-1999",24,Pegawai Swasta,Cerai hidup,3

In [3]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [4]:
education_levels = ['SD', 'SMP', 'SMA', 'D1', 'D2', 'D3', 'D4', 'S1', 'S2', 'S3']

debtor_education_level = np.random.choice(education_levels, 5000, p=[0.07777777777777778, 0.3, 0.07777777777777778, 0.07777777777777778, 0.07777777777777778, 0.07777777777777778, 0.07777777777777778, 0.07777777777777778, 0.07777777777777778, 0.07777777777777778])
df["debtor_education_level"] = debtor_education_level

df.head()

,debtor_name,debtor_nik,debtor_address,debtor_number,debtor_company,debtor_gender,debtor_education_level,employment_type,number_of_dependents,net_income,...,arrears12,aging,debtor_zip,debtor_rt,debtor_rw,debtor_birth_place,debtor_age,debtor_occupation,debtor_marital_status,tenor
0,Cemplunk Zulaika,4133431716345918,"Jalan Raya Setiabudhi No. 857\nBanjarbaru, KR ...",+62 (102) 776 3467,CV Nugroho Melani (Persero) Tbk,perempuan,D3,Retired,3,15500000.0,...,0,DPK,12188,6,10,"Bengkulu, 23-09-1997",26,Pengusaha,Menikah,21
1,"Clara Padmasari, M.Pd",7873621118387801,"Jalan Cihampelas No. 4\nPekanbaru, Sulawesi Se...",+62 (808) 299 5117,UD Hidayat,laki-laki,S2,Full-time,3,17500000.0,...,0,DPK,56126,20,20,"Jawa Tengah, 13-04-1964",59,Pengusaha,Menikah,18
2,"Puti Cinthia Oktaviani, S.IP",9937369990430445,"Jl. Wonoayu No. 68\nSemarang, Riau 98101",+62 (0582) 416 0892,UD Simanjuntak Padmasari (Persero) Tbk,laki-laki,SD,Full-time,4,17500000.0,...,0,Lancar,98101,2,15,"Jawa Tengah, 01-09-1981",42,Buruh,Cerai mati,17
3,"Lalita Astuti, M.TI.",2071079715934185,"Gg. Sentot Alibasa No. 781\nPontianak, SU 76993",+62 (737) 295-9765,Perum Handayani Najmudin Tbk,laki-laki,S1,Retired,3,15500000.0,...,0,DPK,76993,19,16,"Aceh, 14-02-1987",36,Pengusaha,Menikah,17
4,Daliman Kusumo,8852740896362143,"Jl. Ronggowarsito No. 0\nTanjungpinang, NB 06297",+62 (0740) 390 0826,PD Hardiansyah (Persero) Tbk,laki-laki,SMA,Contract,5,8700000.0,...,0,DPK,6297,1,1,"Gorontalo, 06-12-1998",25,Pegawai Swasta,Cerai hidup,15

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 52 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   debtor_name             5000 non-null   object
 1   debtor_nik              5000 non-null   int64
 2   debtor_address          5000 non-null   object
 3   debtor_number           5000 non-null   object
 4   debtor_company          5000 non-null   object
 5   debtor_gender           5000 non-null   object
 6   debtor_education_level  5000 non-null   object
 7   employment_type         5000 non-null   object
 8   number_of_dependents    5000 non-null   int64
 9   net_income              5000 non-null   float64
 10  payment_date            5000 non-null   object
 11  loan_amount             5000 non-null   float64
 12  amount_of_late          5000 non-null   int64
 13  late_payment_amount     5000 non-null   int64
 14  credit_risk             5000 non-null   object
 15  credit_score            5000 non-null   int64
 16  arrears_amounts         5000 non-null   int64
 17  aset                    5000 non-null   int64
 18  loss_reverse            5000 non-null   float64
 19  bil1_late1              5000 non-null   int64
 20  bill_late2              5000 non-null   int64
 21  bill_late3              5000 non-null   int64
 22  bill_late4              5000 non-null   int64
 23  bill_late5              5000 non-null   int64
 24  bill_late6              5000 non-null   int64
 25  bill_late7              5000 non-null   int64
 26  bill_late8              5000 non-null   int64
 27  bill_late9              5000 non-null   int64
 28  bill_late10             5000 non-null   int64
 29  bill_late11             5000 non-null   int64
 30  bill_late12             5000 non-null   int64
 31  arrears1                5000 non-null   int64
 32  arrears2                5000 non-null   int64
 33  arrears3                5000 non-null   int64
 34  arrears4                5000 non-null   int64
 35  arrears5                5000 non-null   int64
 36  arrears6                5000 non-null   int64
 37  arrears7                5000 non-null   int64
 38  arrears8                5000 non-null   int64
 39  arrears9                5000 non-null   int64
 40  arrears10               5000 non-null   int64
 41  arrears11               5000 non-null   int64
 42  arrears12               5000 non-null   int64
 43  aging                   5000 non-null   object
 44  debtor_zip              5000 non-null   int64
 45  debtor_rt               5000 non-null   int64
 46  debtor_rw               5000 non-null   int64
 47  debtor_birth_place      5000 non-null   object
 48  debtor_age              5000 non-null   int64
 49  debtor_occupation       5000 non-null   object
 50  debtor_marital_status   5000 non-null   object
 51  tenor                   5000 non-null   int64
dtypes: float64(3), int64(36), object(13)
memory usage: 2.0+ MB

In [8]:
df["debtor_education_level"]

0        D3
1        S2
2        SD
3        S1
4       SMA
       ...
4995    SMP
4996     D1
4997    SMP
4998     SD
4999     S2
Name: debtor_education_level, Length: 5000, dtype: object

In [9]:
df.to_csv("./data_nasabah.csv")

In [11]:
df2 = df["debtor_education_level"]
df2.to_csv("education.csv")